<!doctype html>
<html lang="en">

<head>
  <!-- require *ejs -->
  <!-- TODO: add ejs to dependencies -->
  <%- include('includes/styles.ejs', {title: "Fake news" }) %>
</head>

<body>
  <%- include('includes/navbar.ejs') %>

    <div class="container my-2">
      <div class="row justify-content-center">
        <div class="col-md-3">
          <h1>Fake <span class="badge bg-secondary">News</span></h1>

          <h3>Actions:</h3>

          <!-- text card with description and dark background -->
          <div class="card text-white bg-dark mb-3">
            <div class="card-body">
              <h5 class="card-title">Create post</h5>
              <p class="card-text">Create new post and share it with the world.</p>
              <a href="/new" class="btn btn-primary">Create post</a>
            </div>
          </div>

          <div class="card text-white bg-dark mb-3">
            <div class="card-body">
              <h5 class="card-title">Delete and Edit</h5>
              <p class="card-text">
                Delete and edit posts in your profile. You can also edit the description of the post. 
              </p>
              <a href="/profile" class="btn btn-primary">Profile</a>
            </div>
          </div>

          <div class="card text-white bg-dark mb-3">
            <div class="card-body">
              <h5 class="card-title">View Profile</h5>
              <p class="card-text">View your profile and manage yout posts</p>
              <a href="/profile" class="btn btn-primary">View</a>
            </div>
          </div>


          <h3>Features:</h3>
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Posts
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  You can create a new post with this form. Therefore you can add new posts to the <code>database</code>.
                  Also yo can edit and delete your posts. You can also see all your posts. 
                  Isnt that cool? 
                </div>
              </div>
            </div>
            
            
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                 View real Apple news 
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  I used to call an API to view real news from Apple. But I don't want to pay for it. :) 
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                 Add Link 
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  Now you can add links to your posts, to make your post more realistic and interesting.
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-9">


          <div class="row w-100 justify-content-center ">
            <h1>Real Apple news got from an API</h1>



            <% data.forEach(function(item){ %>

              <div class="card text-white bg-dark mb-3 w-100 p-0">
                <img src="<%=item.urlToImage%>" height="260" class="card-img-top cover w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">
                    <%=item.title%>
                  </h5>
                  <p class="card-text">
                    <%=item.description%>
                  </p>
                  <a href="<%=item.url%>" class="btn btn-primary">View Full Article</a>
                  <p class="card-text"><small class="text-white">Published on:  <%=item.publishedAt%>, by <%=item.author%></small></p>
                </div>
              </div>
              <% }); %>


          </div>


        </div>
      </div>






      <%- include('includes/scripts.ejs') %>
</body>

</html>